/* .dotted {
  background-image: url(/img/dark-circle.svg), url(/img/dark-circle.svg), url(/img/dark-circle.svg), url(/img/dark-circle.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; 
  background-position: -12px -12px, 0 100%, 100% 0, 100% 100%;
  background-size: 24px, 24px, 24px, 24px;
} */