.home {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-title {
  font-size: 270%;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: bold;
}

.home a {
  text-decoration: none;
  display: block;
  padding: 1rem 1rem 0;
  background-image: none;
}

.home-subtitle {
  margin: 0;
  padding: 0 1rem 1rem;
  font-style: italic;
  text-align: center;

}
@media (max-width: 600px) {
  .home-title {
    font-size: 170%;
  }
}