.home {
  text-transform: uppercase;
  font-size: 150%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.home a {
  text-decoration: none;
  display: block;
  padding: 1rem 1rem 0;
}

.home-subtitle {
  margin: 0;
  padding: 0 1rem 1rem;
  font-style: italic;
  text-align: center;
}