

/* p, ol, ul, dl, blockquote, figure, table, hr, section, article, details, figcaption {
  margin-top: var(--paragraph-spacing);
  margin-bottom: var(--paragraph-spacing);
} */

.Listings {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(30rem, 40rem) minmax(1rem, 1fr);
  grid-row-gap: var(--paragraph-spacing);
}

.Listings > * {
  grid-column: 2 / 3;
  margin: 0;
  max-width: 100%;
}