.Navigation {
  position: relative;
}

.Navigation ul {
  margin: 0;
  display:grid;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  grid-column-gap: 1.5rem;
  margin: 2rem 0;
  grid-template-columns: min-content min-content min-content;
  background-color: #fff;
  border-top: 0.5px solid var(--darker-pink);
  border-bottom: 0.5px solid var(--darker-pink);
}
.Navigation li {
  margin: 0 0 0 0;
  padding: 0;
  text-transform: uppercase;
}
.Navigation li a {
  text-decoration: none;
  background: none;
}

@media (max-width: 650px) {
  .Navigation ul {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
  }
}