.Navigation {
  position: relative;
}

.Navigation ul {
  margin: 0;
  display:flex;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.Navigation li {
  margin: 0 2rem 0 0;
  padding: 0;
  text-transform: uppercase;
}
.Navigation li a {
  text-decoration: none;
}