.postlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.postlist li {
  display: grid;
  padding: 1rem 0;
}

.postlist time {
  font-style: italic;
  font-size: 0.8rem;
}



.postlist .tags a {
  font-size: 0.65rem;
  color: var(--dark);
  background-color: #FFFFd4;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient( to bottom,
  transparent, transparent 75%, #f7f7ae 75%, #f7f7ae);
}
@media (hover: hover) {
  .postlist .tags a:hover {
    color: white;
    background-color: #eb8705;
    background-image: none;
  }
}

.postlist .tags a:focus {
  color: white;
  background-color: #eb8705;
}

.postlist-link {
  margin: 0.25rem 0 0.5rem;
  font-size: 150%;
}