.Wrapper {
  display: grid;
  margin: 0 1rem;
  min-height: 100vh;
  position: relative;
  padding-top: 250px;
  padding-bottom: 50px;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "header header"
  "main main";
}

@media (max-width: 600px) {
  .Wrapper {
    margin: 0 0.5rem;
  }
}