main {
  display: grid;
  padding: 1rem;
  position: relative;
  grid-area: main;
  max-width: 40rem;
  margin: 5rem auto 0;
}
@media (max-width: 600px) {
  main {
    margin: 4rem auto 0;
    padding: 0.5rem;
  }
}