---
layout: layouts/home.njk
---

<div class="FrontPage">
{{ content | safe }}
</div>

<div class="FrontLists">
  {% set postslistCounter = collections.podcast | length %}
  <h2>Latest Podcasts</h2>

  {% set postslist = collections.podcast | head(-3) %}
  {% include "postslist.njk" %}

  <p>More podcasts can be found in <a href="{{ '/podcast/' | url }}">the podcast archive</a>.</p>

<div class="FrontLists">
  <h2>Latest Writing</h2>
{% if collections.writing %}
  {% set postslist = collections.writing | head(-3) %}
  {% set postslistCounter = collections.writing | length %}
  {% include "postslist.njk" %}
{% endif %}

  <p>More posts can be found in <a href="{{ '/posts/' | url }}">the writing archive</a>.</p>
</div>
